<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    Enter the name for your new folder below.
    <form action="" method="post">
      <label for="folderName">
        Name: 
        <input type="text" name="folderName" id="folderName" required>
      </label>
      <button type="submit">Create Folder</button>
    </form>
  </div>
</body>
</html>