<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to the homepage</h1>
  <div>
    <div>
      <h2>Folders:</h2>
      <% if(folders.length !== 0) { %>
        <p>
          <% folders.forEach((folder) => { %>
            <a href="/app/folder/<%= folder.id%>"><%= folder.name%></a>
          <% }) %>
        </p>
      <% } %>
    <a href="/app/folder/create">Create new folder</a>
    </div>
  </div>
  <a href="/auth/logout">Logout</a>
</body>
</html>