<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Homepage</h1>
    <div>
      <a href="/app/folder/create">Create new folder</a>
      <a href="/auth/logout">Logout</a>
    </div>
    <div class="dashboard">
      <% if(folders.length !== 0) { %>
        <p>You currently have <%= folders.length%> folders</p>
        <p class="folder">
          <% folders.forEach((folder) => { %>
          <img src="/images/file-multiple.svg" width="16" height="16">
          <a class="linkBtn" href="/app/folder/<%= folder.id%>"><%= folder.name%></a>
          <% }) %>
        </p>
      <% } %>
    </div>
  </div>
</body>
</html>