<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to file uploader</h1>
    <p class="introductionPara">
      <span class="introduction">Save your files to our cloud storage service today.</span>
      <span class="introduction">Your files can be accessed on your account dashboard.</span>
      <span class="introduction">Download and share your files with anyone.</span>
      <span class="introduction">Free and simple to use with no limits.</span>
    </p>
    <p class="homePara">
      <span class="register">
        <span>Become a member today</span>
        <a href="/auth/sign-up">Create account</a>
      </span>
      <span class="login">
        <span>Already a member ?</span>
        <a href="/auth/login">Login</a>
      </span>
    </p>
  </div>
</body>
</html>