<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Welcome to file uploader</h1>
    <p>
      Become a member to use the website
      <a href="/auth/sign-up">Create account</a>
      <br><br>
      Already a member ?
      <a href="/auth/login">Login</a>
    </p>
  </div>
</body>
</html>