<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="/auth.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <div>
      <a href="/">Home</a>
    </div>
    <p>Log in to your account</p>
    <form action="/auth/login" method="post">
      <p>Fields marked with an asterisk(*)</p>
      <label for="username">
        Enter your username*: 
        <input type="text" name="username" id="username" required>
        <% if(error === 'username') { %>
          <span class="error">Username not found</span>
        <% } %>
      </label>
      <label for="password">
        Enter your password*:
        <input type="password" name="password" id="password" required>
        <% if(error === 'password') { %>
          <span class="error">Incorrect password</span>
        <% } %>
      </label>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>