<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css">
  <title>Document</title>
</head>
<body>
  <h1>500 Server Error</h1>
  <div>
    A server error occured.
    <br><br>
    Try again later.
    <br><br>
    <a href="/">Home</a>
  </div>
</body>
</html>