<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css">
  <title>Document</title>
</head>
<body>
  <h1>Share Folder</h1>
  <div>
    <p>
      Enter the number of days you want the folder share link to be valid.
      <br><br>
      Maximum validity for folder sharing is 30days.
    </p>
    <form action="" method="post">
      <p>Field marked with an asterisk(*) is mandatory.</p>
      <label for="duration">
        Validity duration*: 
        <input type="number" name="duration" id="duration" required max="30">
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>